a{
  text-decoration: none;
  color:#ffde59;
}

a:hover{
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
  color:#5271ff;
  transition: 0.5s;
}

h2, h3, h5{
  color:#5271ff;
}

h4{
  color:#92a6ff
}

h6{
  color: #5271ff;
}

h6:hover{
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}

p{
  margin-top: 15px !important;
}

textarea{
  margin: 10px;
}

/*body*/

body{
  font-family: "DM Sans", sans-serif;
  color:#000;
  padding: 0 !important;
  text-align: center;
  scroll-behavior: smooth;
}

/*header*/

  header{
    padding: 10px;
    background-color:#92a6ff;
  }

    h1{
      margin-top: auto;
      margin-bottom: 3%;
      font-size: 2em;
      font-family: "Shrikhand", serif;
      color:#ffde59;
      text-shadow: 2px 2px #5271ff;
      letter-spacing: 1px;
      font-weight: 700;
    }

    nav{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    nav ul{
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    nav ul li{
      margin: 0 10px;
      padding: 10px 10px 0px 10px;
      position: relative;
    }

    nav ul li a{
      color:#ffde59;
      font-size: 1.1rem;
    }

    nav ul li a:hover{
      color:#5271ff;
      font-weight: 400 !important;
    }

    nav ul li::after{
      content: "";
      height: 3px;
      width: 0;
      background:#5271ff;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.5s;
    }

    nav ul li:hover::after{
      width: 100%;
    }

  /*footer*/

  footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    background-color:#92a6ff;
    color:white;
  }

  footer p a:hover{
    color:#5271ff;
    font-size: 18px;
    transition-duration: 0.15s;
  }

/*CLASSI E ID*/

.bold{
  font-weight: 700;
  color: #5271ff;
}

.active{
  color:#5271ff;
} 

.bottoni{
  background-color:#ffde59;
  color:#5271ff;
  border-color:#5271ff;
  cursor: pointer;
}

.bottoni:hover{
  background-color:#5271ff;
  color:#ffde59;
  font-weight: 400;
  transition: 0.5s;
}
.mb-3, .my-3{
  margin: 0 !important;
}

.immagine_ridotta{
  width: 45%; 
  max-width: 300px;
  height: auto;
}

  /*header*/

  .logo{
    display: block;
    width: 5%;
    margin: auto;
    cursor: pointer;
  }

  /*briciole di pane*/

  .briciole_di_pane{
    margin: 15px;
  }
  
  .briciole_di_pane a{
    color:#5271ff;
  }

  /*come giocare*/

  #come_giocare-margin{
    margin: 2% 25%;
  }

  /*generi main*/

  #generi-margin{
    margin: 5%;
  }

  #generi-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
  }

  .music-player{
    background-color:#E3E5FA;
    width: 400px;
    margin: 15px 25px;
    padding: 15px;
  }

  #progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color:#92a6ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
  }

  #progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color:#ffde59;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .controls div{
    width: 45px;
    height: 45px;
    margin: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .play-circle {
    background-color: #92a6ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls div:nth-child(2){
    transform: scale(1.5);
  }

  /*playlist*/

  #playlist-margin{
    margin: 5%;
  }

  /*about*/

  #about-margin{
    margin: 2% 18%;
  }

  /*index e doc card*/

  #card-margin{
    margin: 12.5%;
  }

  .card{
    background-color:#f2f3ff;
    border-color:#5271ff;
    margin: 1.5%;
  }

  /*docs (pmp e cs)*/

    /*pmp*/

    #pmp-margin{
      margin: 2% 12%;
    }

    .card-body img{
      max-width: 100%;
      height: auto;
    }

    /*cs*/

    #cs-margin{
      margin: 2% 12%;
    }

/* RESPONSIVNESS*/

@media screen and (max-width: 576px){ 
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .logo {
    width: 5em;
  }
}

